<h1 class="site-title">
  <span class="base05">[</span><span class="base08">m</span><span class="base09">u</span><span class="base0a">s</span><span class="base0b">i</span><span class="base0c">c</span><span class="base05">.</span><span class="base08">d</span><span class="base09">e</span><span class="base0a">v</span><span class="base05">]</span>
</h1>

<div class="hero-logo">
  <img src="/img/base16-eighties.svg">
</div>

<div style="text-align: center;" class="base0b">
A place for me to collect my thoughts about music, programming, and technology.
</div>
